body, .root {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
}

.header {
  background-color: #323bf0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin-bottom: 20px;
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

.right-nav {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 10px;
}

.add-word-link {
  display: flex;
  align-items: center;
}

.add-icon {
  width: 24px;
  height: 24px;
  color: currentColor;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffd500;
}

.footer {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav h1 {
  font-size: 30px;
  font-family: 'Arial';
  margin: 0;
  color: aliceblue;
  margin-right: 10px;
  text-shadow: 10px 20px 3 px;
}

nav input[type=text] {
  float: right;
  border: none;
  margin-right: 10px;

  border-radius: 4px;
  font-size: 17px;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Arial';
}

a:hover {
  color: #ffffff;
}

.word h1 {
  margin-top: 5px;
  font-size: 40px;
  margin-bottom: 25px;
}

.word h3 {
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 17px;
  color:#ffffff;
}


.word i p {
  display: block;
  margin-top: 10px;
  font-size: 17px; 
  margin-bottom: -5px;
  color:#ffffff;
}

.word {
  color: white;
  font-family: 'Arial';
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px; 
  border: 1px solid #ccc; 
  background-color: #323bf0;
  box-shadow: 0 0 2px rgba(31, 31, 31, 0.5);
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box; 
}

.search-bar {
  width: 90%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 25px; 
  border: 1px solid #ccc; 
  font-size: 16px;
  outline: none;
}

.search-bar:focus {
  border-color: #323bf0;
  box-shadow: 0 0 5px rgba(50, 59, 240, 0.5);
}


.credits {
  margin-top: 20px;
  margin-bottom: 0px;
}