body, .root {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
}

.header {
  background-color: #323bf0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin-bottom: 20px;
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

.right-nav {
  display: flex;
  align-items: center;
}

.add-word-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-icon {
  width: 24px;
  height: 24px;
  color: currentColor;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ffd500;
}

.footer {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav h1 {
  font-size: 30px;
  font-family: 'Arial';
  margin: 0;
  color: aliceblue;
  text-shadow: 10px 20px 3 px;
}

nav input[type=text] {
  float: right;
  border: none;
  margin-right: 10px;
  border-radius: 30px;
  font-size: 17px;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Arial';
}

a:hover {
  color: #ffffff;
}


.word:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}

.word h1 {
  margin-top: 5px;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.word h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 18px;
  color: #ffffff;
}


.word i p {
  display: block;
  margin-top: 10px;
  font-size: 17px; 
  margin-bottom: -5px;
  color:#ffffff;
}

.word {
  color: white;
  font-family: 'Arial', sans-serif;
  margin-bottom: 40px;
  padding: 30px 40px;
  border-radius: 15px; 
  border: 2px solid #00a6ff; 
  background: linear-gradient(to bottom right, #323bf0, #00a6ff);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box; 
}

.search-bar {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 60px; 
  margin-left: 28px;
  border: 1px solid #ccc; 
  font-size: 16px;
  outline: none;
}

.search-bar:focus {
  border-color: #323bf0;
  box-shadow: 0 0 5px rgba(50, 59, 240, 0.5);
}


.credits {
  margin-top: 20px;
  margin-bottom: 0px;
}

.word-not-found {
  color: white;
  font-family: 'Arial', sans-serif;
  margin-bottom: 40px;
  padding: 30px 40px;
  border-radius: 15px; 
  border: 2px solid #00a6ff; 
  background: linear-gradient(to bottom right, #323bf0, #00a6ff);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.word-not-found h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.word-not-found p {
  font-size: 18px;
  margin: 10px 0;
}

.define-button {
  background-color: #00a6ff;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.define-button:hover {
  background-color: #0052cc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
